<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.toLanguageTag()}">
<head>
    <meta charset="ISO-8859-1"/>
    <title>UUID Generator</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body>
<div class="container my-2" align="center">
    <header>
        <image th:src="@{/logo.jpg}" alt="Logo Image"></image>
    </header>
    <h3>UUID Generator</h3>

    <table style="width:80%" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th><span th:text="#{dict.name}"/></th>
            <th><span th:text="#{dict.value}"/></th>
            <th><span th:text="#{dict.action}"/></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>UUID</td>
            <td>
                <div id="uuid"></div>
            </td>
            <td>
                <button th:onclick="uuidFragmentReload()" class="btn btn-success btn-block">Nowy</button>
            </td>
        </tr>
        <tr>
            <td>Szczegoly:</td>
            <td>
                <div th:if="${showDetails}">
                    <div th:replace="~{fragments/details.html :: content}"></div>
                </div>
            </td>
            <td>
                <div th:switch="${showDetails}">
                    <p th:case="1">
                        <a th:href="@{/extended-uuid-without-details}" class="btn btn-success btn-block">Ukryj</a>
                    </p>
                    <p th:case="*">
                        <a th:href="@{/extended-uuid-with-details}" class="btn btn-success btn-block">Pokaz</a>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a th:href="@{/extended-uuid}" class="btn btn-success btn-block">Odswiez</a>
            </td>
        </tr>
        <tr>
            <td>Data</td>
            <td colspan="2" id="timestamp"></td>
        </tr>
        </tbody>
    </table>
    <footer>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    </footer>
</div>
</body>
</html>